@use '../../../variables' as *;

@mixin button-faded-variant {
  &--faded {
    border-width: var(--#{$class-name-prefix}-border-width-medium);
    border-style: solid;
    border-color: hsl(var(--#{$class-name-prefix}-background-color-default));
    background: hsl(var(--#{$class-name-prefix}-color-default-100));

    &.#{$class-name-prefix}-button-color {
      &--default {
        color: hsl(var(--#{$class-name-prefix}-foreground-color-default));
      }

      &--primary {
        color: hsl(var(--#{$class-name-prefix}-background-color-primary));
      }

      &--secondary {
        color: hsl(var(--#{$class-name-prefix}-background-color-secondary));
      }

      &--success {
        color: hsl(var(--#{$class-name-prefix}-background-color-success));
      }

      &--warning {
        color: hsl(var(--#{$class-name-prefix}-background-color-warning));
      }

      &--danger {
        color: hsl(var(--#{$class-name-prefix}-background-color-danger));
      }
    }
  }
}
