@use '../palette' as *;

$foreground-dark-color: (
  default: map-get($palette-shared, black),
  primary: map-get($palette-shared, white),
  secondary: map-get($palette-shared, white),
  success: map-get($palette-shared, white),
  warning: map-get($palette-shared, white),
  danger: map-get($palette-shared, white),
);
