@use '../../variables' as *;
@use 'radius' as *;
@use 'size' as *;
@use 'variants' as *;

.#{$class-name-prefix}-button {
  // shared
  border: none;
  transition-property: background, opacity, box-shadow;
  transition-timing-function: ease;
  transition-duration: 250ms;
  cursor: pointer;

  // variants
  @include button-variants;

  // size
  @include button-size;

  // radius
  @include button-radius;
}
