@use '../palette' as *;

$background-dark-color: (
  default: 240 5% 84%,
  primary: map-get($palette-dark, primary-400),
  secondary: map-get($palette-dark, secondary-500),
  success: map-get($palette-dark, success-400),
  warning: map-get($palette-dark, warning-400),
  danger: map-get($palette-dark, danger-400),
);
