@use '../palette' as *;

$background-light-color: (
  default: map-get($palette-light, default-300),
  primary: map-get($palette-light, primary-500),
  secondary: map-get($palette-light, secondary-500),
  success: map-get($palette-light, success-500),
  warning: map-get($palette-light, warning-500),
  danger: map-get($palette-light, danger-500),
);
